.dropdown-button-row {

  .dropdown-dialog-menu {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: initial;

    .@{_COMMON_PREFIX}dropdown-handle {
      margin-right: 1px !important;

      &:disabled {
        display: none !important;
      }
    }
  }
}
