@min-dialog-width: 230px;
@max-dialog-width: 740px;
@max-dialog-height: 100vh;

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: @z-index-modal-dialog;
  display: flex;
  align-items: center;
  justify-content: center;
}

.@{_COMMON_PREFIX}modal-dialog {
  .reset(true);

  display: none;
  position: absolute;
  backface-visibility: hidden;
  width: 85.185%;
  min-width: @min-dialog-width;
  max-width: @max-dialog-width;
  background-color: transparent;
  background-clip: padding-box;
  box-sizing: content-box;
  max-height: @max-dialog-height;

  &.masked {
    opacity: 0;
  }

  &.fullscreen {
    background-color: @admin-white;
    position: fixed;
    top: 20px;
    bottom: 20px;

    .cancel-button-inline();

    .modal-dialog-wrapper {
      justify-content: space-between;

      .modal-dialog-header {
        padding-right: 40px;
      }

      .modal-dialog-body {
        overflow: auto;
      }
    }

    &.always-fullscreen {
      .modal-dialog-wrapper {
        .modal-dialog-body {
          height: 100%;

          .dialog-content {
            height: 100%;
          }
        }
      }
    }
  }

  &:not(.fullscreen) {
    .modal-dialog-wrapper {
      padding: 40px 40px 0 0;
      margin: -40px -40px 0 0;

      .modal-dialog-header,
      .modal-dialog-body,
      .modal-dialog-footer {
        background-color: @admin-white;
      }
    }
  }

  .modal-dialog-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .cancel-button-top {
      position: absolute;
      top: 0;
      right: 0;
      z-index: @z-index-modal-dialog;
      width: 36px;
      height: 36px;
      line-height: 36px;
      padding: 0;
      cursor: pointer;
      box-sizing: border-box;
      display: inline-block;

      &::before,
      &::after {
        @width: 20px;
        @height: 3px;

        transform: rotate(0deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: calc(-@width / 2);
        display: block;
        height: @height;
        width: @width;
        background-color: @admin-white;
        transition: all 0.25s ease-out;
      }

      &::before {
        animation: close-icon-animation-before 500ms forwards;
      }

      &::after {
        animation: close-icon-animation-after 500ms forwards;
      }

      &:hover {
        &::before,
        &::after {
          background-color: @admin-medium-gray-border;
        }
      }
    }

    .modal-dialog-header {
      padding: 20px 30px;
      box-sizing: border-box;

      > .title {
        .ellipsis();

        font-size: 2.3em;
        line-height: 36px;

        &:empty {
          display: none;
        }
      }

      .path {
        .ellipsis();

        display: block;
        font-size: 16px;
        margin-top: 5px;

        &::before {
          margin-right: 5px;
          content: attr(data-desc);
          color: @admin-font-gray1;
        }
      }
    }

    .modal-dialog-body {
      position: relative;
      height: auto;
      min-height: 50px; // Height of the loading spinner icon
      padding: 0 30px;
      overflow: visible;
      width: 100%;
      box-sizing: border-box;

      .dialog-content {
        position: relative;
        width: calc(100% - 1px);
        padding: 2px 0;
        box-sizing: border-box;

        .form-view {
          padding: 0;

          fieldset:last-child {
            .input-view:last-child {
              margin-bottom: 0;
            }
          }

          .options-tree-grid {
            position: static !important;
          }

          &:empty {
            display: none;
          }
        }

        .panel {
          overflow: visible;
        }
      }
    }

    .modal-dialog-footer {
      padding: 20px 30px;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      background-color: @admin-white;
    }
  }

  .dialog-buttons {
    position: relative;

    .@{_COMMON_PREFIX}button {
      .dialog-button();
    }

    .button-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;

      > .cancel-button-bottom {
        .button-background();
      }

      > *:not(:first-child) {
        margin-left: 5px;
      }

      > *:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &.grey-header .modal-dialog-wrapper {
    .modal-dialog-header {
      background-color: @admin-bg-light-gray;
      padding-bottom: 15px;
    }

    .modal-dialog-body {
      padding-top: 15px;
    }
  }

  @keyframes close-icon-animation-before {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-45deg);
    }
  }

  @keyframes close-icon-animation-after {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-135deg);
    }
  }

  .back-button {
    .icon-arrow-left();
    .icon-xlarge();

    float: left;
    text-decoration: none;
    cursor: pointer;
    height: 32px;
    line-height: 38px;
    width: 32px;

    &::before {
      color: @admin-font-gray2;
      position: absolute;
      left: 14px;
    }

    &:hover {
      &::before {
        color: @admin-bg-dark-gray;
      }
    }
  }

  &.locked {
    .dialog-buttons {
      button:not(.force-enabled) {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &:not(.no-action) {
      .dialog-buttons {
        button:not(.force-enabled):not(.no-animation) {
          .icon-spinner();

          &::before {
            .animation(rotate360, 0.5s, 0s, linear);

            color: white;
            display: inline-block;
          }

          span {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .progress-bar {
    margin-bottom: 20px;
    height: 25px;

    .progress-indicator {
      background-color: @admin-green;
    }
  }

  .progress-message {
    font-size: 14px;
  }

  &.is-processing {
    .progress-bar,
    .progress-message {
      display: block;
    }

    .dependants {
      display: none !important;
    }

    .button-container {
      float: none;
      text-align: center;

      *:not(.cancel-button-bottom) {
        display: none !important;
      }

      .cancel-button-bottom {
        span {
          display: none;
        }

        &::after {
          content: attr(data-button-text);
          color: @admin-white;
          width: 100px;
          line-height: 24px;
          font-size: 16px;
        }
      }
    }
  }
}

.await-confirmation .cancel-button-top {
  display: none;
}

body {
  &._0-240,
  &._240-360,
  &._360-540,
  &._540-720 {
    .@{_COMMON_PREFIX}modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      max-width: none;

      .cancel-button-inline();

      &.fullscreen {
        top: 0;
        bottom: 0;
      }

      .modal-dialog-wrapper {
        .modal-dialog-header {
          padding: 15px 30px 15px 20px;

          .back-button::before {
            left: 0;
          }
        }

        .modal-dialog-body {
          padding: 0 20px;
          max-height: none;
          height: 100%;
        }

        .modal-dialog-footer {
          padding: 20px;
        }
      }

      &.grey-header {
        .modal-dialog-body {
          padding: 20px;
          max-height: none;
          height: 100%;
        }
      }
    }
  }
}

.cancel-button-inline() {
  .modal-dialog-wrapper {
    .cancel-button-top {
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      z-index: @z-index-modal-dialog + 1;

      &::before,
      &::after {
        background-color: @admin-font-gray2;
        width: 18px;
      }

      &:hover {
        background-color: @admin-white;

        &::before,
        &::after {
          background-color: @admin-black;
        }
      }
    }
  }

  &.grey-header {
    .modal-dialog-wrapper {
      .cancel-button-top {
        background-color: @admin-bg-light-gray;

        &:hover {
          background-color: @admin-bg-light-gray;
        }
      }
    }
  }
}
