.wizard-header {
  margin: 15px 40px;
  max-width: 660px;

  .@{_COMMON_PREFIX}text-input {
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-height: 0;

    &.@{_CLS_PREFIX}large {
      min-width: 245px;
      font-size: 1.65rem;
    }
    &.@{_CLS_PREFIX}middle {
      min-width: 100px;
      margin-top: 2px;
      font-size: 1rem;
    }

    &[name="displayName"], &[name="name"] {
      &.generated {
        color: @admin-font-gray2;
      }
    }

    .input-glow();
    .placeholderColor(@admin-medium-gray-border);
  }

  .path {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 0 0 4px;
    font-size: 1rem;
    color: @admin-font-gray2;
    .ellipsis();
  }
}
