.wizard-step-navigator {
  box-sizing: border-box;
  color: @admin-font-gray1;
  overflow: hidden;

  .tab-bar-item {
    float: left;
    padding: 10px 15px 11px 25px;
    cursor: pointer;

    &.step-icon {
      &::before {
        font-size: 18px;
      }
    }

    &:hover {
      color: darken(@admin-font-gray1, 10%);
    }

    &.active {
      background-color: white;
      color: @admin-font-gray3;
      padding-bottom: 0;
      z-index: 0;

      .label {
        position: relative;

        &::before,
        &::after {
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          z-index: -1;
          margin-top: -10px;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 10px solid;
        }

        &::before {
          border-left-color: @admin-bg-light-gray;
          margin-left: -25px;
          left: 0;
        }

        &::after {
          border-left-color: @admin-white;
          margin-left: 10px;
          margin-right: -25px;
          right: 0;
        }
      }

      &.step-icon {
        .label::before {
          line-height: 0;
          padding-left: 15px;
          padding-right: 18px;
        }
      }
    }

    &:last-of-type {
      margin-right: 10px;
    }
  }
}

.minimized {
  .wizard-step-navigator {
    background-color: @admin-bg-light-gray;
  }
}
