.input-occurrence-view {
  display: flex;
  flex-direction: column;
  position: relative; // to absolutely position elements within

  .data-block {
    .clearfix();

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    > .drag-control {
      order: 1;
      float: left;
      background: url("../../../../../images/nail-plate.png") no-repeat;
      width: 5px;
      height: 30px;
      cursor: move;
    }

    .input-wrapper {
      order: 2;
      flex: 1;

      .form-input {
        width: 100%;
      }
    }

    .remove-button {
      .icon-close;

      order: 3;
      float: right;
      text-decoration: none;
      cursor: pointer;
      background: none;
    }
  }

  .error-block {
    color: @input-red-text;
  }

  .ai-button-container {
    width: 20px;
    height: 20px;
    display: none;
    border: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    &-icon {
      .button(@admin-font-gray3, transparent, @admin-font-gray2);
      padding: 2px;
      width: 100%;
      height: 100%;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-loader {
      box-sizing: border-box;
      display: none;
      position: absolute;
      border: 2px dotted @admin-button-blue2;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 3s linear infinite;
    }

    &.processing, &.completed, &.failed {
      display: block;

      .ai-button-container-loader {
        display: block;
      }
    }

    &.processing {
      .ai-button-container-loader {
        border-color: @admin-button-blue2;
      }
    }

    &.fade {
        display: block;

      .ai-button-container-icon {
        animation: fadingOpacity 2s ease-in-out infinite;
        &:before {
          color: @admin-blue;
        }
      }
    }

    &.completed {
      .ai-button-container-loader {
        border-color: @admin-green;
      }

      .ai-button-container-icon {
        &:before {
          color: @admin-green;
        }
      }
    }

    &.failed {
      .ai-button-container-loader {
        border-color: @admin-red;
      }

      .ai-button-container-icon {
        &:before {
          color: @admin-red;
        }
      }
    }

    @keyframes spin {
      100% {
        transform: rotateZ(360deg);
      }
    }

    @keyframes fadingOpacity {
      0% {opacity: 0.2;}
      50% {opacity: 1;}
      100% {opacity: 0.2;}
    }
  }

  &:focus-within, &:hover {
    .ai-button-container {
      display: block;
    }
  }

  &.single-occurrence {
    .data-block {
      > .drag-control,
      > .remove-button {
        display: none;
      }
    }

    .ai-button-container {
      top: -21px;
    }
  }

  &.multiple-occurrence {
    .data-block {
      > .drag-control,
      > .remove-button {
        display: block;
        border: 1px solid transparent;
        .focusable();
      }

      .input-wrapper {
        margin: 0 5px 0 0;
      }
    }

    .error-block {
      padding: 0 0 10px 17px;
    }

    .ai-button-container {
      top: 4px;
      right: 4px;
      background-color: @admin-white;

      &:hover {
        background-color: @admin-white;
      }
    }
  }
}

.ai-helper-mask {
  background-color: @admin-blue;
  opacity: 0.2;
}
