.input-occurrence-view {
  display: flex;
  flex-direction: column;
  position: relative; // to absolutely position elements within

  .data-block {
    .clearfix();

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    > .drag-control {
      order: 1;
      float: left;
      background: url("../../../../../images/nail-plate.png") no-repeat;
      width: 5px;
      height: 30px;
      cursor: move;
    }

    .input-wrapper {
      order: 2;
      flex: 1;

      .form-input {
        width: 100%;
      }
    }

    .remove-button {
      .icon-close;

      order: 3;
      float: right;
      text-decoration: none;
      cursor: pointer;
      background: none;
    }
  }

  .error-block {
    color: @input-red-text;
  }

  &.single-occurrence {
    .data-block {
      > .drag-control,
      > .remove-button {
        display: none;
      }
    }
  }

  &.multiple-occurrence {
    .data-block {
      > .drag-control,
      > .remove-button {
        display: block;
        border: 1px solid transparent;
        .focusable();
      }

      .input-wrapper {
        margin: 0 5px 0 0;
      }
    }

    .error-block {
      padding: 0 0 10px 17px;
    }
  }

  &.single-occurrence {
    .ai-controls-button {
      top: -22px;
      right: -2px;
    }
  }
  &.multiple-occurrence {
    .ai-controls-button {
      top: 5px;
    }

    .ai-controls {
      &.default .ai-controls-button {
        right: 4px;
      }
      &.processing .ai-controls-button,
      &.completed .ai-controls-button,
      &.failed .ai-controls-button {
        right: 26px;
      }
    }
  }
}

.ai-helper-mask {
  background-color: @admin-bg-light-gray;
  opacity: 0.75;
  border-color: @admin-medium-gray-border !important;
}
