.input-occurrence-view {
  display: flex;
  flex-direction: column;
  position: relative; // to absolutely position elements within

  .data-block {
    .clearfix();

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    > .drag-control {
      order: 1;
      float: left;
      background: url("../../../../../images/nail-plate.png") no-repeat;
      width: 5px;
      height: 30px;
      cursor: move;
    }

    .input-wrapper {
      order: 2;
      flex: 1;

      .form-input {
        width: 100%;
      }
    }

    .remove-button {
      .icon-close;

      order: 3;
      float: right;
      text-decoration: none;
      cursor: pointer;
      background: none;
    }
  }

  .error-block {
    color: @input-red-text;
  }

  .icon-saga {
    .button(@admin-font-gray3, @admin-white);
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
  }

  &.single-occurrence {
    .data-block {
      > .drag-control,
      > .remove-button {
        display: none;
      }
    }

    .icon-saga {
      top: -21px;
    }
  }

  &.multiple-occurrence {
    .data-block {
      > .drag-control,
      > .remove-button {
        display: block;
        border: 1px solid transparent;
        .focusable();
      }

      .input-wrapper {
        margin: 0 5px 0 0;
      }
    }

    .error-block {
      padding: 0 0 10px 17px;
    }

    .icon-saga {
      top: 1px;
      right: 1px;
    }
  }
}
