@occurrence-label-margin-left: 10px;

.form-view {
  &.display-validation-errors {
    .form-item-view.invalid {
      .form-item-set-occurrence-view,
      .form-option-set-occurrence-view {
        &.invalid {
          border: 3px solid @admin-red;
          box-shadow: none;
        }
      }
    }

    .form-item-set-occurrence-view.invalid.collapsed {
      padding: 10px;
    }

    .form-option-set-occurrence-view.invalid.collapsed {
      padding: 7px;
    }
  }

  .form-item-set-view,
  .form-option-set-view {
    > .form-set-header {
      margin-bottom: 10px;

      h5 {
        .ellipsis();

        font-size: 25px;
        line-height: 32px;
      }

      .help-text {
        padding-top: 10px;
      }
    }

    > .occurrence-views-container {

      &:empty {
        display: none;

        + .bottom-button-row {
          padding: 0;
        }
      }

      > .form-item-set-occurrence-view,
      > .form-option-set-occurrence-view {
        clear: left;
        margin: 0;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);

        .more-button {
          width: 40px;
          height: 40px;
          float: right;

          &[disabled] {
            display: none;
          }

          &:focus:not(:disabled) {
            border: none;
          }
        }

        > .form-occurrence-draggable-label {
          display: inline-block;
          font-size: 16px;
          width: calc(100% - 55px);
          padding: 10px 0 0 13px;
          cursor: zoom-out;
          .ellipsis();

          .required {
            padding-left: 5px;

            &:after {
              content: '*';
              color: @input-red-text;
            }
          }

          .drag-control {
            display: none;
            height: 20px;
            width: 10px;
            background-position-x: center;
            padding-right: 0;
            margin-right: 8px;
          }

          p.note {
            display: none;
            .ellipsis();
          }

          &.custom-label {
            line-height: 16px;

            .drag-control {
              height: 30px;
            }

            p.note {
              display: block;
              font-size: 10px;
            }

            + .remove-button {
              line-height: 34px;
            }
          }
        }

        > .form-item-set-occurrences-container,
        > .form-option-set-occurrences-container {
          &:not(.empty) {
            padding: 0 13px 13px 13px;
          }
        }

        &.collapsed {
          > .form-occurrence-draggable-label {
            cursor: zoom-in;
            margin-bottom: 5px;
          }
        }
      }
    }

    > .top-button-row {
      display: none;
      margin: 0 0 10px 0;
    }

    > .bottom-button-row {
      box-sizing: border-box;
      padding: 10px 0;
      margin-top: 10px;

      button {
        max-width: 300px;

        span {
          display: block;
          line-height: 28px;
          .ellipsis();
        }
      }

      .add-button {
        float: left;
      }

      .collapse-button {
        line-height: 28px;
      }
    }

    > .top-button-row,
    > .bottom-button-row {
      .clearfix();

      .collapse-button {
        float: right;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.max-1-occurrence {
      > .occurrence-views-container {
        > .form-option-set-occurrence-view {
          margin-bottom: 0;
        }

        &:empty + .bottom-button-row {
          display: block;
          padding-left: 0;
          padding-bottom: 0;
        }
      }

      > .bottom-button-row {
        display: none;
      }
    }

    &.multiple-occurrence {
      > .occurrence-views-container {
        .clearfix();

        > .form-item-set-occurrence-view,
        .form-option-set-occurrence-view {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          > .form-occurrence-draggable-label {

            &:not(.custom-label) {
              line-height: 22px;
              height: 20px;
            }

            > .drag-control {
              display: block;
            }
          }
        }
      }

      > .form-set-header {
        margin-bottom: 0;
      }

      > .top-button-row {
        display: block;
      }
    }

    .form-item-set-drop-target-placeholder, .form-option-set-drop-target-placeholder {
      border: 2px dashed @admin-black;
      padding: 14px;
      color: @admin-black;
      font-size: 14px;
      text-align: center;
      margin: 10px;
    }

    & > .validation-viewer {
      background-color: @admin-bg-light-gray;
      padding: 0 10px 10px 10px;
      margin-left: 0 !important;
    }
  }
}
