@occurrence-label-margin-left: 10px;

.form-view {
  &.display-validation-errors {
    .form-item-set-occurrence-view,
    .form-option-set-occurrence-view {
      &.invalid.collapsed {
        border: 3px solid @admin-red;
        box-shadow: none;
      }
    }

    .form-item-set-occurrence-view.invalid.collapsed {
      padding: 10px;
    }

    .form-option-set-occurrence-view.invalid.collapsed {
      padding: 7px;
    }

    .input-view.invalid {
      padding: 10px;

      .validation-viewer ul > li {
        margin-top: 10px;
      }
    }
  }

  .form-item-set-view {

    > .occurrence-views-container > .form-item-set-occurrence-view {
      padding: 13px;

      > .form-occurrence-draggable-label {
        font-size: 16px;
        color: @admin-font-gray3;
        padding-right: 20px;
        width: calc(100% - 20px);
        .ellipsis();
      }
    }
  }

  .form-item-set-view,
  .form-option-set-view {
    > .form-set-header {
      margin-bottom: 20px;

      h5 {
        .ellipsis();
        font-size: 25px;
      }

      .help-text {
        padding-top: 10px;
      }
    }

    > .occurrence-views-container {

      &:empty {
        display: none;
      }

      > .form-item-set-occurrence-view,
      > .form-option-set-occurrence-view {
        clear: left;
        margin: 0;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);

        > .remove-button {
          &:extend(.icon);
          .icon-close();
          .focusable();

          margin-right: -4px;
          border: 1px solid transparent;
          line-height: 20px;
          float: right;
          text-decoration: none;
          cursor: pointer;
        }

        > .form-occurrence-draggable-label {
          display: inline-block;
          padding-right: 0;
          cursor: zoom-out;

          .required {
            padding-left: 5px;

            &:after {
              content: '*';
              color: @input-red-text;
            }
          }

          .drag-control {
            display: none;
            height: 20px;
            width: 10px;
            background-position-x: center;
            padding-right: 0;
            margin-right: 8px;
          }

          p.note {
            display: none;
          }

          &.custom-label {
            line-height: 18px;
            .drag-control {
              height: 30px;
            }

            p.note {
              display: block;
              font-size: 10px;
            }

            + .remove-button {
              line-height: 34px;
            }
          }
        }

        &.collapsed {
          > .form-occurrence-draggable-label {
            cursor: zoom-in;
          }
        }
      }
    }

    &.max-1-occurrence {
      > .occurrence-views-container {
        > .form-option-set-occurrence-view {
          margin-bottom: 0;
        }

        &:empty + .bottom-button-row {
          display: block;
          padding-left: 0;
          padding-bottom: 0;
        }
      }

      > .bottom-button-row {
        display: none;
      }
    }

    &.multiple-occurrence {
      > .occurrence-views-container {
        .clearfix();

        > .form-item-set-occurrence-view,
        .form-option-set-occurrence-view {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          > .form-occurrence-draggable-label {
            width: calc(100% - 26px);

            &:not(.custom-label) {
              line-height: 22px;
              height: 20px;
            }

            > .drag-control {
              display: block;
            }
          }
        }
      }
    }

    .form-item-set-drop-target-placeholder, .form-option-set-drop-target-placeholder {
      border: 2px dashed #000;
      padding: 14px;
      color: #000;
      font-size: 14px;
      text-align: center;
      margin: 10px;
    }

    .input-view {

      .input-label {
        max-width: 90px;
        margin-right: 10px;
      }

      .input-type-view,
      .bottom-button-row,
      .validation-viewer {
        margin-left: @form-label-width;
      }

      &.label-over-input {
        .input-label {
          max-width: 100%;
        }

        .input-type-view,
        .bottom-button-row,
        .validation-viewer {
          margin-left: 0;
        }
      }
    }

    & > .bottom-button-row {
      box-sizing: border-box;
      padding: 10px 0;
      clear: left;
      .clearfix();

      button {
        span {
          line-height: 28px;
        }
      }

      .add-button {
        float: left;
      }

      .collapse-button {
        float: right;
        text-decoration: underline;
        line-height: 28px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    & > .validation-viewer {
      background-color: @admin-bg-light-gray;
      padding: 0 10px 10px 10px;
      margin-left: 0 !important;
    }
  }
}
