@occurrence-label-margin-left: 10px;

.form-view {
  &.display-validation-errors {
    .form-item-view.invalid {
      .form-item-set-occurrence-view,
      .form-option-set-occurrence-view {
        &:not(.hide-validation-errors).invalid {
          border: 3px solid @admin-red;
          box-shadow: none;
          padding: 7px 7px 7px 10px;
        }
      }
    }

    .hide-validation-errors {
      &.invalid {
        border: 0 none !important;
      }

      .input-view.invalid {
        border: 0 none !important;
        padding: 10px 0 0;

        .validation-viewer {
          display: none;
        }
      }
    }
  }

  .form-item-set-view,
  .form-option-set-view {
    > .form-set-header {
      margin-bottom: 10px;

      h5 {
        .ellipsis();

        font-size: 25px;
        line-height: 32px;

        .required {
          padding-left: 5px;

          &::after {
            content: '*';
            color: @input-red-text;
          }
        }
      }

      .help-text-toggler {
        margin-top: 5px;
      }

      .help-text {
        padding-top: 0;
      }
    }

    > .occurrence-views-container {
      &:empty {
        display: none;

        + .bottom-button-row {
          padding: 0;
        }
      }

      > .form-item-set-occurrence-view {
        display: flex;
        flex-wrap: wrap;
      }

      > .form-item-set-occurrence-view,
      > .form-option-set-occurrence-view {
        position: relative;
        margin: 0;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 10px 10px 10px 13px;

        .more-button {
          position: absolute;
          right: 0;
          top: 10px;
          width: 26px;
          height: 26px;

          &[disabled] {
            display: none;
          }

          &:focus:not(:disabled) {
            border: none;
          }
        }

        .form-occurrence-draggable-label {
          padding-top: 2px;
          line-height: 24px;
          flex-grow: 1;
          font-size: 16px;
          width: calc(100% - 55px);
          .ellipsis();

          &.expandable {
            cursor: zoom-out;
          }

          .drag-control {
            display: none;
            height: 18px;
            width: 10px;
            background-position-x: center;
            padding-right: 0;
            margin-right: 8px;
          }

          p.note {
            display: none;
            .ellipsis();
          }

          &.custom-label {
            line-height: 12px;

            .drag-control {
              height: 27px;
            }

            p.note {
              display: block;
              font-size: 10px;
              line-height: 10px;
              margin-top: 6px;
            }
          }
        }

        > .form-item-set-occurrences-container,
        > .form-option-set-occurrences-container {
          flex-basis: 100%;

          > .input-view:last-child {
            margin-bottom: 0;
          }
        }

        &.collapsed {
          .form-occurrence-draggable-label {
            &.expandable {
              cursor: zoom-in;
            }
          }
        }
      }
    }

    > .top-button-row {
      display: none;
      margin: -5px 0 10px 0;
    }

    > .bottom-button-row {
      box-sizing: border-box;
      margin-top: 10px;

      button {
        max-width: 300px;

        span {
          display: block;
          line-height: 28px;
          .ellipsis();
        }
      }

      .add-button {
        float: left;
      }

      .collapse-button {
        line-height: 28px;
      }
    }

    > .top-button-row,
    > .bottom-button-row {
      .clearfix();

      .collapse-button {
        float: right;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.max-1-occurrence {
      > .occurrence-views-container {
        > .form-option-set-occurrence-view {
          margin-bottom: 0;
        }

        &:empty + .bottom-button-row {
          display: block;
          padding-left: 0;
          padding-bottom: 0;
        }
      }

      > .bottom-button-row {
        display: none;
      }
    }

    &.multiple-occurrence {
      > .occurrence-views-container {
        .clearfix();

        > .form-item-set-occurrence-view,
        .form-option-set-occurrence-view {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          .form-occurrence-draggable-label {
            &:not(.custom-label) {
              line-height: 16px;
              height: 20px;
              margin-top: 4px;
            }

            > .drag-control {
              display: block;
            }
          }
        }
      }

      > .form-set-header {
        margin-bottom: 0;
      }

      > .top-button-row {
        display: block;
      }
    }

    .form-item-set-drop-target-placeholder,
    .form-option-set-drop-target-placeholder {
      border: 2px dashed @admin-black;
      padding: 14px;
      color: @admin-black;
      font-size: 14px;
      text-align: center;
      margin: 10px;
    }

    & > .validation-viewer {
      background-color: @admin-bg-light-gray;
      padding: 0 10px 10px 10px;
      margin-left: 0 !important;
    }
  }
}
