.date-time-picker {
  .picker();

  .@{_COMMON_PREFIX}wrapper {
    .picker-icon();

    .date-time-dialog {
      .picker-dialog(100%, 10px 0);

      width: 100%;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;

      .picker-buttons {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: end;

        .ok-button {
          .picker-dialog-button();
        }

        .default-button {
          .picker-dialog-button(@form-button-bg, 0);
        }

        &:empty {
          display: none;
        }
      }

      .notSelectable();
      .date-picker-mixin(auto, 10px);
      .time-picker-mixin();

      .date-picker-dialog,
      .time-picker-dialog {
        position: static;
        display: flex;
        align-items: center;
        box-shadow: none;
      }

      .date-picker-dialog {
        flex-direction: column;
      }
    }
  }

  &.expanded {
    .date-time-dialog {
      display: flex !important;
    }
  }

  &.time-picker {
    .@{_COMMON_PREFIX}wrapper {
      .picker-icon('time');

      .date-time-dialog {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .date-time-dialog {
    width: 100% !important;
  }
}
