.date-time-picker {
  .picker();

  .@{_COMMON_PREFIX}wrapper {
    .picker-icon();

    .date-time-dialog {
      .picker-dialog(100%, 10px 0);

      box-sizing: border-box;
      text-align: center;

      .picker-buttons {
        display: flex;
        justify-content: space-between;

        .picker-dialog-button(10px 20px 9px auto);

        .ok-button {
          display: inline-block;
        }

        .default-button {
          background-color: @form-button-bg;
          padding: 4px 19px 4px 19px;
          position: relative;
          display: inline-block;
          margin: 10px 10px 9px 20px;
        }
      }

      .notSelectable();
      .date-picker-mixin(auto, 10px);
      .time-picker-mixin();

      .date-picker-dialog,
      .time-picker-dialog {
        display: inline-block;
        position: static;
        vertical-align: middle;
        box-shadow: none;
      }
    }
  }

  &.hide-ok-button {
    .ok-button {
      display: none !important;
    }
  }

  &.time-picker {
    .@{_COMMON_PREFIX}wrapper {
      .picker-icon('time');

      .date-time-dialog {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .date-time-dialog {
    width: 100% !important;
  }
}
