html,
body {
  height: 100%;
}

body {
  font-family: @admin-font-family;
  font-size: @admin-font-size;

  &.blurred {
    > .panel,
    > .appbar {
      filter: blur(2px);
    }

    .launcher-button {
      z-index: @z-index-mask - 1;
      filter: blur(2px);
    }
  }
}

.headers-mixin();

a {
  color: #0070de;
}

input,
textarea,
select {
  border-radius: 0;
}

&.@{_CLS_PREFIX}focused,
:focus-visible,
:focus {
  outline: rgb(0, 95, 204) auto 1px;
  outline-offset: -1px;
}

@-moz-document url-prefix() {
  &.@{_CLS_PREFIX}focused,
  :focus-visible,
  :focus {
    outline-offset: -2px;
  }
}
