.picker-icon(@picker-type: "date", @font-size: 18px, @top: 9px, @right: 7px, @pointer-events: none) {
  & when (@picker-type = "date") {
    .icon-calendar;
  }

  & when (@picker-type = "time") {
    .icon-clock;
  }

  &::before {
    position: absolute;
    right: @right;
    top: @top;
    font-size: @font-size;
    pointer-events: @pointer-events;
  }
}

.picker-dialog-button(@color: @admin-button-blue2, @margin-left: auto) {
    background-color: @color;
    margin-left: @margin-left;
}

.date-picker-mixin(@width: 100%, @padding: 10px) {
  .date-picker-dialog {
    .picker-dialog(@width, @padding);

    .year-container,
    .month-container {
      display: flex;
      gap: 10px;
    }

    .prev,
    .next {
      cursor: pointer;
      vertical-align: middle;
      text-decoration: none;
    }

    .prev {
      .icon-arrow-left();
    }

    .next {
      .icon-arrow-right();
    }

    .month-container {
      margin: 5px 0 10px 0;
    }

    .calendar {
      text-align: center;
    }
  }
}

.time-picker-mixin() {
  .time-picker-dialog {
    .picker-dialog(auto, 5px);

    flex-wrap: wrap;
    column-gap: 6px;
    align-content: center;

    > li:first-child {
      > span {
        &::after {
          content: ':';
          position: absolute;
          right: -12px;
          top: -2px;
        }
      }
    }

    > li {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      line-height: 40px;
      padding: 5px;

      a {
        text-decoration: none;
      }

      a,
      span {
        display: block;
        position: relative;
      }

      .prev,
      .next {
        cursor: pointer;
        text-align: center;

        span {
          display: flex;
          line-height: 15px;
          font-size: 0.8em;
        }
      }

      .prev {
        span {
          .icon-arrow-up();
        }
      }

      .next {
        span {
          .icon-arrow-down();
        }
      }
    }

    .timezone {
      width: 100%;
      font-size: 15px;
      margin-left: 20px;
    }
  }
}

.container-title-mixin(@font-size: 32px, @bottom: -9px) {
  color: @admin-white;
  font-family: @admin-font-family;
  font-size: @font-size;
  font-weight: 100;
  position: absolute;
  bottom: @bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.highlight-option(@color) {
  background-color: @color !important;

  .names-and-icon-view .@{_COMMON_PREFIX}names-view .@{_COMMON_PREFIX}sub-name {
    color: @admin-shadow-gray;
  }
}
