.panel-strip {
  overflow-y: auto;

  > .panel {
    margin: 0;
    position: static;
    padding-top: 30px;
    padding-bottom: 60px;

  }

  .panel-strip-panel-header {
    padding-left: 10px;
    padding-top: 30px;
    font-size: 25px;
    line-height: 20px;
    max-width: 660px;
    width: 100%;
    border-bottom: 1px solid @admin-medium-gray-border;

    box-sizing: border-box !important;

    &.enabled {

      .x-data-toggler {

        .icon-close();

        padding-top: 5px;
        font-size: 12px;
      }
    }

    &.disabled {

      .x-data-toggler {

        &:before {
          font-size: 26px;
          font-weight: 900;
          content: '+';
        }
      }
    }

    .x-data-toggler {
      display: inline-block;
      float: right;
      padding: 0 15px;
      overflow: hidden;
      z-index: @z-index-mask - 2;
      cursor: pointer;

      &:before {
        display: block;
        content: "";
      }

      &:hover:after {
        color: @admin-dark-gray;
      }

    }
  }
}

.panel-strip-scrollable {
  overflow-y: auto;

  .panel-strip {
    position: static;
    overflow-y: hidden;
  }
}
