.@{_COMMON_PREFIX}dropdown-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    font-size: 28px;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0, 0.4, 1, 0.6);
  }

  &.down::before {
    transform: rotateX(180deg);
  }

  &[disabled] {
    cursor: default;

    &::after {
      border-top: 10px solid @admin-medium-gray-border;
    }

    &.down::after {
      border-top: 0 solid transparent;
      border-bottom: 10px solid @admin-medium-gray-border;
    }
  }
}
