.@{_COMMON_PREFIX}dropdown-handle {
  height: inherit;
  width: @input-height-big;
  border: 0;
  cursor: pointer;
  background-color: @admin-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    font-size: 28px;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0, 0.4, 1, 0.6);
  }

  &.down::before {
    transform: none;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}
