.option-filter-input {
  box-sizing: border-box;
  height: inherit;

  background-color: @admin-white;
  padding: 4px 4px 4px 10px;

  &:focus {
    border-color: @admin-black;
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background: none;
  }

  .placeholder(1em, italic);
}
