.option-filter-input {
  height: 100%;
  background-color: @admin-white;
  padding: 4px 4px 4px 10px;
  box-sizing: border-box;

  &:disabled {
    background: none;
  }

  .placeholder(1em, italic);
}

.form-input > .option-filter-input {
  &:hover,
  &:focus {
    padding: 3px 3px 3px 9px;
  }
}
