button.ai-dialog-control {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;

  &:not(:hover):not(:focus):not(:focus-within):not(.input-focused) {
    display: none;
  }

  background: transparent;

  &:hover:not(:disabled) {
    background: transparent;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    background: url("../../../images/juke-eye-centered.svg") center / contain no-repeat;
  }
}

