.application-configurator {
  .multiple-occurrence {
    .selected-option {
      .drag-control,
      .site-form .remove {
        display: none;
      }

      .site-form {
        padding-right: 0;
      }
    }
  }

  .selected-options {
    .selected-option {
      padding: 10px;
      margin-bottom: 10px; // each child should have this for smooth sorting

      &:not(.placeholder) {
        height: auto;

        .@{_COMMON_PREFIX}wrapper {
          margin-right: 10px;
        }

        &.invalid {
          .highlight-option(@admin-input-red);
          margin-bottom: 5px;
        }

        &.stopped,
        &.uninstalled {
          .@{_COMMON_PREFIX}wrapper {
            .icon-alert();

            &:before {
              position: relative;
              top: auto;
              left: auto;
            }

            .font-icon-default {
              display: none;
            }
          }

          a.edit {
            display: none;
          }
        }
      }
    }

    .selected-option:last-child {
      margin-bottom: 0;
    }
  }

  .rich-combobox.readonly {
    .selected-options .selected-option {
      pointer-events: none;

      a.edit,
      a.remove {
        display: none;
      }
    }
  }
}
