.application-configurator {

  .multiple-occurrence {
    .selected-option {
      .drag-control, .site-form .remove {
        display: none;
      }

      .site-form {
        padding-right: 0;
      }
    }
  }

  .selected-options {

    .selected-option {
      padding: 10px !important;
      margin-bottom: 10px; // each child should have this for smooth sorting

      &:not(.placeholder) {
        height: auto !important;
        background-color: @admin-bg-light-gray;

        &:hover {
          background-color: @admin-bg-light-gray;
        }

        &.invalid {
          .highlight-option(@admin-input-red);
        }

        &.uninstalled {
          .highlight-option(@admin-input-red);

          .@{_COMMON_PREFIX}wrapper {
            &::before {
              content: "!";
              display: block;
              background-color: @admin-red;
              color: @admin-white;
              left: 10px;
              top: 7px;
            }

            .font-icon-default {
              display: none;
            }
          }

          a.edit {
            display: none;
          }
        }

        &.stopped {
          opacity: 0.5;
          a.edit {
            display: none;
          }
        }
      }

      &.collapsed {
        .header {
          margin: 0;
        }
      }

      .header {
        display: flex;
        align-items: center;
        position: relative;
        line-height: 48px;
        overflow: hidden;

        .clearfix();

        .names-and-icon-view {
          float: left;
          cursor: move;
          flex: 0 1 100%;

          .@{_COMMON_PREFIX}names-view {
            > * {
              cursor: move;
            }
          }
        }
      }
    }

    .selected-option:last-child {
      margin-bottom: 0;
    }
  }

  .rich-combobox.readonly {
    .selected-options .selected-option {
      pointer-events: none;

      a.edit, a.remove {
        display: none;
      }
    }
  }

}

.highlight-option(@color) {
  background-color: @color !important;

  .@{_COMMON_PREFIX}names-view .@{_COMMON_PREFIX}sub-name {
    color: @admin-dark-gray;
  }
}

.wizard-panel .wizard-steps-panel .wizard-step-form .application-configurator .form-view {
  margin: 10px 0 0 0;
}
