.issue-comment-textarea {
  position: relative;

  textarea {
    width: 100%;
    padding-left: 52px;
    box-sizing: border-box;
  }

  .principal-viewer-compact {
    position: absolute;
    top: calc(~'50% - 26px');
    left: 10px;
  }
}
