.issue-comments-list {
  .issue-comments-list-item {
    .clearfix();
    margin-bottom: 10px;

    .principal-viewer-compact {
      float: left;
      margin: 10px;
    }

    .@{_COMMON_PREFIX}names-view {
      .@{_COMMON_PREFIX}main-name {
        font-size: 13px;
        .created-time {
          margin-left: 10px;
          color: @admin-font-gray1;
        }
      }
      .@{_COMMON_PREFIX}sub-name {
        font-size: 16px;
        color: black;
        margin: 5px 0;
        white-space: normal;
      }
    }
  }
}
