.checkable-item {
  display: flex;
  align-items: center;
}

.checkable-item-checkbox {
  display: flex;

  label {
    .icon();
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
  }

  input[disabled]:not(:checked) + label::before,
  input[disabled]:checked + label::before {
    background-image: none;
  }

  input[disabled]:checked + label {
    text-align: center;
    &::before {
      content: "\e370";
      font-size: 10px;
      line-height: 14px;
    }
  }
}
