.filterable-listbox-wrapper {
  position: relative;

  .filter-container {
    position: relative;

    .apply-selection-button {
      position: absolute;
      top: 0px;
      right: 0;
      width: 37px;
      height: 100%;
      text-align: center;
      padding: 0;
      background-color: @form-button-bg;
      z-index: 1;
    }
  }

  .filterable-listbox {
    position: absolute;
    width: 100%;
    background-color: @admin-white;
    z-index: 1;
    border: 1px solid @admin-medium-gray-border;
    border-top: none;
    box-shadow: 2px 2px 2px @admin-medium-gray-border;
    box-sizing: border-box;

    .aggregation-bucket-view {
      padding: 2px 4px;
    }
  }
}
