.selectable-listbox-wrapper {

  .item-view-wrapper {
    display: flex;
    padding: 3px;
    cursor: pointer;

    .checkbox {
      grid-area: checkbox;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        display: none;
      }

      label::before {
        position: static;
      }
    }

    .item-view {
      grid-area: data;
    }

    &.checkbox-right {
      display: grid;
      grid-template-columns: 1fr 30px;
      grid-template-areas:
        "data checkbox"
    }

    &.checkbox-left {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-template-areas:
        "checkbox data"
    }

    &:hover {
      background-color: @admin-bg-light-gray;
    }

    .item-view {
      flex-grow: 1;
      padding-left: 7px;
      .ellipsis();

      * {
        cursor: pointer;
      }
    }

    .checkbox {
      flex-shrink: 0;
    }

    &.selected {
      color: @admin-white;
      background-color: @admin-blue;
    }

    &:focus-visible {
      outline: none;
      background-color: @admin-bg-light-gray;
    }
  }
}
