.grid {
  &.no-header .slick-header {
    display: none;
  }

  &.hidden {
    visibility: hidden;
    display: block;
    left: -9999px !important;
    top: -9999px !important; // to prevent scrollbars in a scrollable elements
  }

  .slick-pane {
    position: static;

    .slick-header.ui-state-default {
      border-top: 0;
    }
  }

  .slick-cell {
    height: 100%;
    display: flex;
    align-items: center;
    .default-slick-cell-styling(1px 8px 1px 0);

    cursor: pointer;

    &:first-child {
      padding-left: 8px;
    }

    * {
      // force same cursor on every child
      cursor: pointer;
    }
  }
}
