.highlight(@bgcolor: @input-light-red, @color: @admin-input-red) {
  .input-error(@bgcolor);
  .input-glow(@color);

  &:hover {
    box-shadow: 0 0 5px @color;
  }
}

.show-validation-viewer() {
  .validation-viewer {
    font-size: 14px;
    display: block;
    color: @input-red-text;

    &:empty {
      display: none;
    }
  }
}

.input-view-error(@padding: 15px) {
  padding: @padding;
  border: 3px solid #cb0100;

  .form-input {
    outline: none;

    .input-error(@admin-white);

    &.uploader-el a.dropzone {
      .highlight(@admin-white);
    }

    &.@{_COMMON_PREFIX}text-input {
      .input-glow(@admin-input-red);
    }

    &.@{_COMMON_PREFIX}combobox.expanded > .@{_COMMON_PREFIX}text-input {
      background-color: @admin-white;
    }
  }

  .date-time-picker,
  .time-picker,
  .date-picker {
    &.expanded .form-input {
      background-color: @admin-white;
    }
  }

  .input-view.label-inline {
    label + .input-wrapper {
      margin-left: @form-label-width - 12px;
    }
  }
}
