::-ms-clear {
  display: none;
}

.input-view {

  .clearfix();

  margin-bottom: @form-field-spacing;
  position: relative;
  border-bottom-width: 0;

  select, input, textarea {
    .input-glow();
  }

  > .input-label {
    display: inline-block;
    max-width: calc(100% - 30px);

    .@{_COMMON_PREFIX}wrapper {
      display: flex;
      white-space: nowrap;
      line-height: 20px;

      .label {
        display: inline-block;
        max-width: 100%;
        .ellipsis();
      }

      &.required::after {
        content: '\00a0*';
        color: @input-red-text;
      }
    }
  }

  > label {
    display: inline-block;
    max-width: calc(100% - 30px);
    .ellipsis();

    &.required::after {
      content: '\00a0*';
      color: @input-red-text;
    }
  }

  &.no-label {
    > .input-label {
      display: none;
    }

    > select, > input, > textarea {
      .input-error();
    }
  }

  &.label-inline {
    > label,
    > .input-label {
      float: left;
      max-width: @form-label-width - 10px;

      .label {
        float: left;
      }
    }

    > .input-wrapper,
    > .input-type-view,
    > .help-text,
    > .bottom-button-row,
    > .validation-viewer {
      margin-left: @form-label-width;
    }

    > .help-text-toggler {
      margin-left: 5px;
    }
  }

  .input-wrapper {
    position: relative;

    .form-input {
      width: 100%;
    }
  }

  .input-type-view {

    .image-uploader-el {
      width: 100%;
    }

    &.max-length-limited {

      .input-occurrence-view + .input-occurrence-view {
        margin-top: 24px;
      }

      .length-counter {
        order: 4;
        display: block;
        position: absolute;
        right: 0;
        margin-top: 5px;
        text-align: right;
      }
    }
  }

  .bottom-button-row {
    clear: left;
    overflow: visible; // for button glow

    button {
      margin-top: 7px;
    }
  }

  .validation-viewer {

    ul > li {
      margin-top: 7px;
    }
  }
}

.input-wrapper {

  &.valid-regexp, &.invalid-regexp {
    position: relative;

    input {
      padding-right: 100px;
    }

    &:after {
      content: attr(data-regex-status);
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }

  &.valid-regexp {
    &:after {
      color: @admin-level-1;
    }
  }

  &.invalid-regexp {
    &:after {
      color: @admin-level-3;
    }
  }

}
