::-ms-clear {
  display: none;
}

.input-view {
  .clearfix();

  margin-bottom: @form-field-spacing;
  position: relative;
  border-bottom-width: 0;

  select,
  input,
  textarea {
    .input-glow();
  }

  > .input-label {
    display: inline-block;
    max-width: calc(100% - 30px);

    .@{_COMMON_PREFIX}wrapper {
      display: flex;
      white-space: nowrap;
      line-height: 20px;

      .label {
        display: inline-block;
        max-width: 100%;
        .ellipsis();
      }

      &.required::after {
        content: '\00a0*';
        color: @input-red-text;
      }
    }
  }

  > label {
    display: inline-block;
    max-width: calc(100% - 30px);
    .ellipsis();

    &.required::after {
      content: '\00a0*';
      color: @input-red-text;
    }
  }

  &.no-label {
    > .input-label {
      display: none;
    }

    > select,
    > input,
    > textarea {
      .input-error();
    }
  }

  .input-wrapper {
    position: relative;

    .form-input {
      width: 100%;
    }
  }

  .form-input {

    + .uploader-el .upload-button {
      border-left: none;
    }
  }

  .validation-block {
    display: flex;
    align-items: center;

    .validation-viewer {
      margin-right: 10px;
    }

    .validation-toggler {
      padding: 0;
      background-color: @admin-white;
      outline: none;
      display: none;

      span {
        text-decoration: underline;
        color: @admin-blue;
      }

      &:hover {
        background-color: @admin-white;

        span {
          color: @admin-button-blue2;
        }
      }
    }
  }

  &.label-inline {
    > label,
    > .input-label {
      float: left;
      max-width: @form-label-width - 10px;

      .label {
        float: left;
      }
    }

    > .input-wrapper,
    > .input-type-view,
    > .help-text,
    > .bottom-button-row,
    > .validation-viewer {
      margin-left: @form-label-width;
    }

    > .help-text-toggler {
      margin-left: 5px;
    }
  }

  .input-occurrence-view {
    .error-block {
      display: none;
    }

    &.invalid {
      .error-block {
        display: block;
      }
    }
  }

  &.error-details-hidden {
    .input-occurrence-view {
      .error-block {
        display: none;
      }
    }
  }

  .input-type-view {
    .image-uploader-el {
      width: 100%;
    }

    &.text-input-type {
      .separator {
        display: none;
        margin-right: 2px;
        margin-left: 2px;
      }

      &.max-length-limited,
      &.show-counter {
        .input-occurrence-view + .input-occurrence-view {
          margin-top: 24px;
        }

        .length-counter {
          order: 4;
          display: block;
          position: absolute;
          right: 0;
          margin-top: 5px;
          text-align: right;

          .left-counter.chars-left {
            color: @admin-level-1;
          }

          .left-counter:not(.chars-left) {
            color: @admin-red;
          }
        }
      }

      &.show-counter {
        + .help-text {
          padding-right: 100px;
        }
      }

      &.max-length-limited {
        + .help-text {
          padding-right: 175px;
        }

        &.show-counter {
          .separator {
            display: inline;
          }
        }
      }
    }
  }

  .bottom-button-row {
    clear: left;
    overflow: visible; // for button glow

    button {
      margin-top: 7px;
    }

    &.visible + .validation-block {
      margin-top: 7px;
    }
  }

  &.invalid.has-invalid-user-input:not(.single-occurrence) {
    .validation-block {
      .validation-toggler {
        display: block;
      }
    }
  }

  &.valid {
    .validation-block {
      display: none;
    }
  }

  &.single-occurrence.has-invalid-user-input {
    .validation-viewer {
      display: none;
    }
  }
}
