@layer overrides {
  .notification-container {
    position: fixed;
    width: 100%;
    max-width: 460px;
    z-index: 2004;
  }

  .notification-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  @media screen and (width < 40rem) {
    .notification-container {
      right: 0;
      bottom: 0;
      max-width: initial;
      padding: 0 8px 8px;
    }
  }

  @media screen and (width >= 40rem) {
    .notification-container {
      right: 36px;
      bottom: 24px;
    }
  }

  @media screen and (width >= 48rem) {
    .notification-container {
      right: 46px;
      bottom: 30px;
    }
  }

  @media screen and (width >= 64rem) {
    .notification-container {
      right: 60px;
      bottom: 40px;
    }
  }

  @media screen and (width >= 96rem) {
    .notification-container {
      right: 92px;
      bottom: 60px;
    }
  }
}
