.notification-container {
  font-size: 0.75rem;
  position: fixed;
  z-index: @z-index-notification + 3;

  @media screen and (max-width: 799px) {
    width: 100%;
  }

  @media screen and (min-width: 800px) {
    left: 50%;
    margin-left: -400px;
  }

  .notification-wrapper {
    margin: auto;
    opacity: 0.8;

    @media screen and (min-width: 800px) {
      width: 800px;
    }

    .notification {
      overflow: hidden;
      color: white;
      font-size: 1.2em;
      padding: 10px 10px 10px 20px;
      display: flex;
      align-items: center;
      background-color: @admin-blue;

      &.error {
        background-color: red;
      }

      &.warning {
        background-color: orange;
      }

      &.action,
      &.success {
        background-color: @admin-green;
      }

      .notification-inner {
        flex: 1;

        .notification-text,
        .notification-actions {
          display: inline;
        }

        .notification-actions {
          a {
            color: white;
            margin-left: 10px;
          }
        }
      }

      .notification-remove {
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
        color: white;
      }
    }
  }
}

