// can be out of combobox (i.e ImageSelector)
.selected-options {
  float: none;

  &.sortable:not(.readonly) {
    .selected-option {
      cursor: move;
    }
  }

  .selected-option {
    display: flex;
    align-items: center;
    .option-cell();
    width: 100%;
    cursor: default;

    &:hover {
      background: none;
    }

    &.placeholder {
      background-color: transparent;
      border: 2px dashed @admin-medium-gray-border;
      text-align: center;
      font-size: 22px;
      height: 53px !important;

      &:before {
        color: @admin-font-gray1;
        content: attr(data-drop);
      }
    }

    .option-value {
      flex-grow: 1;
    }

    .edit {
      .icon-pencil;
      order: 1;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }

    .remove, .edit {
      &:extend(.icon);
      .focusable();

      border: 1px solid transparent;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }

    .remove {
      .icon-close;
      order: 2;
    }

    &.non-editable {
      .edit {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}

.display-validation-errors .invalid .selected-options:not(:empty) {
  padding-bottom: 15px;
}

.option-cell() {
  .default-slick-cell-styling(1px 8px 1px 0);

  &:hover, &.active {
    background: @admin-bg-light-gray;
  }

  &.slick-cell-checkboxsel {
    label {
      cursor: pointer;
    }
  }

  &.selected {
    font-style: italic;
    color: #d3d3d3;
  }

  &.readonly {
    cursor: default;
    pointer-events: none;
    opacity: 0.8;

    .remove, .edit {
      display: none;
    }
  }
}

.custom-selector .selected-option .edit {
  display: none;
}
