.custom-selector .selected-option .edit {
  display: none;
}

// can be out of combobox (i.e ImageSelector)
.selected-options {
  float: none;

  .selected-option {
    display: flex;
    align-items: center;
    .option-cell();

    width: 100%;
    cursor: default;

    &:hover {
      background: none;
    }

    &.placeholder {
      background-color: transparent;
      border: 2px dashed @admin-medium-gray-border;
      text-align: center;
      font-size: 22px;
      height: 53px !important;

      &::before {
        color: @admin-font-gray1;
        content: attr(data-drop);
      }
    }

    &.not-found {
      margin: 5px 0;

      .highlight-option(@admin-input-red);

      .@{_COMMON_PREFIX}wrapper {
        div.font-icon-default {
          display: flex !important;
          align-items: center;
          justify-content: center;
          .icon-alert();
        }
      }
    }

    .option-value,
    > .names-and-icon-view,
    > .@{_COMMON_PREFIX}names-view {
      flex-grow: 1;
    }

    .edit {
      .icon-pencil;

      order: 1;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }

    .remove,
    .edit {
      .icon;
      .focusable();

      border: 1px solid transparent;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }

    .remove {
      .icon-close;

      order: 2;
    }

    &.non-editable {
      .edit {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  &.sortable:not(.readonly) {
    .selected-option {
      cursor: move;
    }
  }
}

.display-validation-errors .invalid .selected-options:not(:empty) {
  padding-bottom: 15px;
}

.option-cell() {
  .default-slick-cell-styling(1px 8px);

  &:hover,
  &.active {
    background: @admin-bg-light-gray;
  }

  &.slick-cell-checkboxsel {
    label {
      cursor: pointer;
    }
  }

  &.selected {
    font-style: italic;
    color: #d3d3d3;
  }

  &.readonly {
    cursor: default;
    pointer-events: none;
    opacity: 0.8;

    .remove,
    .edit {
      display: none;
    }
  }
}
