.@{_COMMON_PREFIX}text-input {
  .reset();
  .input-border();
  .input-font();

  background-color: @admin-white;

  &.form-input {
    &.invalid {
      .input-border(@admin-input-red);
      .input-glow(@admin-input-red);

    }

    &.valid {
      .input-border(@admin-level-1);
      .input-glow(@admin-level-1);

    }
  }

  display: block;
  box-sizing: border-box;
  min-height: 30px;
  padding: 0 5px;

  &.@{_CLS_PREFIX}middle {
    // by default
  }

  &.@{_CLS_PREFIX}large {
    min-height: 40px;
    font-size: 26px;
  }

  &.autosize + .autosize-attendant {
    overflow: hidden;
    height: 0;

    .autosize-clone {
      display: inline-block;
      white-space: pre;
    }
  }
}
