.@{_COMMON_PREFIX}mask {
  .reset(true);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @admin-black;
  display: none;
  z-index: @z-index-mask;
  opacity: 0.6;

  .mask-splash {
    position: relative;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    display: none;

    .spinner {
      position: static;
      float: left;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;

      .animation(rotate360, 0.5s, 0s, linear);
      .icon-xlarge;
      .icon-spinner;
    }

    .text {
      margin-left: 10px;
      color: @admin-black;
      line-height: 48px; // equal to that of the spinner animation
    }
  }

  &.body-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &.load-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: @z-index-load-mask;
    width: 100%;
    height: 100%;
    min-height: 48px; // height of the .spinner icon
  }

  &.drag-mask {
    top: 0;
    left: 0;
    background-color: white;
  }

  &.opaque {
    opacity: 1;
  }

  &.small {
    .mask-splash {
      .spinner {
        font-size: 24px;
        width: 24px;
        height: 24px;
      }

      .text {
        line-height: 24px;
      }
    }
  }

  &.splash-mask {
    .reset(true);

    position: absolute;
    display: none;
    opacity: 1;
    background-color: transparent;

    .mask-splash {
      z-index: @z-index-load-mask;
      position: absolute;
      padding: 10px;
      left: 50%;
      top: 37px;
      display: block;

      .mask-actions {
        button {
          margin: 0 10px;
        }
      }
    }

    .mask-shader {
      background-color: @admin-black;
      z-index: @z-index-mask;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &.confirmation-mask {
    button {
      .ellipsis();

      max-width: 240px;
    }

    .mask-splash {
      z-index: @z-index-load-mask * 10;
    }
    .mask-shader {
      z-index: @z-index-mask * 10;
    }
  }
}
