.toolbar-button(@height: @toolbar-height) {
  .menu-action-button(7px 14px);

  flex-shrink: 0;

  span {
    line-height: @height - 22px;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  background-color: @admin-white;
  height: @toolbar-height;
  overflow: visible; // for the button glow
  box-sizing: border-box;
  min-width: 200px;
  padding: 4px;

  .fold-button {
    .@{_COMMON_PREFIX}dropdown {
      top: @toolbar-height + 1;
    }
  }

  > .@{_COMMON_PREFIX}button.icon-search {
    padding: 8px;
  }

  .@{_COMMON_PREFIX}button {
    .toolbar-button();
  }

  .progress-bar {
    height: @toolbar-height;
    min-width: 167px; // Width of the Publish menu button
    background-color: @form-button-bg-disabled;

    &:hover {
      cursor: pointer;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      line-height: @toolbar-height;
      color: @admin-white;
      font-size: 14px;
      font-family: @admin-font-family;
      text-align: center;
    }

    .progress-label {
      line-height: @toolbar-height;
    }

    .progress-indicator {
      background-color: @admin-green;
    }

    .minimized {
      .progress-bar {
        min-width: 105px;

        &::after {
          margin: 0 15px;
          left: 0;
        }
      }
    }
  }
}
