.form-view {
  .selection-message {
    display: none;
  }

  &:not(.display-validation-errors) .form-option-set-occurrence-view .form-option-set-option-view {
    &.selected.invalid {
      .option-items-container .input-view {
        &.highlight-validity-change,
        &.display-validation-errors {
          &.invalid {
            background-color: @admin-white;

            .upload-button &:hover {
              box-shadow: 0 0 5px @admin-input-red;
              border: 1px solid @admin-input-red;
            }
          }
        }
      }
    }
  }

  &.display-validation-errors {
    .form-option-set-occurrence-view {
      &.invalid > .selection-message {
        display: block;
        color: @input-red-text;
        font-size: 14px;
        padding: 0 0 5px 13px;
        margin-top: -5px;

        &.empty {
          display: none;
        }
      }

      .form-option-set-option-view.invalid {
        > .help-text {
          padding-left: 10px;
        }
      }
    }
  }

  .occurrence-views-container > .form-option-set-occurrence-view {

    .form-occurrence-draggable-label {
      flex: 1;
      font-size: 14px;
      color: @admin-font-gray2;
      padding-top: 0;
      line-height: 26px;
    }

    > .single-selection-header {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;

      &:not(.selected) {
        padding: 13px;
      }

      > .form-occurrence-draggable-label {
        display: none;

        .ai-dialog-control {
          top: 4px;
        }
      }

      > .drag-control {
        order: unset;
        -webkit-box-ordinal-group: unset;
        position: static;
      }

      > .@{_COMMON_PREFIX}dropdown {
        flex: 1;
        max-width: initial;

        > input {
          height: 45px; // match the option to prevent height bounce
        }

        > .@{_COMMON_PREFIX}dropdown-handle {
          height: 45px;
          width: 45px;
        }
      }

      &.selected {
        > .drag-control {
          display: none;
        }

        .filterable-listbox-wrapper {
          display: none;
        }

        > .form-occurrence-draggable-label {
          display: inline-block;

          &:not(.custom-label) {
            padding-top: 0;
            margin-bottom: 0;
          }
        }

        + .form-option-set-occurrences-container {
          display: block;
        }
      }
    }

    input[type="radio"]:disabled + label {
      opacity: 0.8;
    }

    .form-option-set-occurrences-container {

      .form-option-set-option-view {
        position: relative;
        border: 1px solid transparent;
        margin: 5px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .form-option-set-view.max-1-occurrence {
          > .occurrence-views-container {
            > .form-option-set-occurrence-view {
              > .single-selection-header {
                .drag-control {
                  display: none;
                }
              }
            }
          }
        }

        .input-view {
          .input-label .label {
            color: @admin-dark-gray;
          }
        }

        > .help-text {
          padding: 0 0 3px 31px;
          margin-top: -5px;
        }

        &.expandable.expanded {
          > .option-items-container {
            display: block;
          }
        }

        > .option-items-container {
          display: none;
          opacity: 0.5;
          padding: 0 10px 15px 13px;

          &:empty {
            display: none !important;
          }

          * {
            pointer-events: none;
          }

          > .input-view {
            .selected-options {
              padding-bottom: 0 !important;
            }

            &.invalid .input-label .label {
              color: @admin-dark-gray;
            }
          }
        }

        > .form-input {
          display: flex;
          align-items: center;
          height: 34px;

          > label {
            position: relative;
            padding-left: 10px;
            font-size: 14px;
            line-height: 22px;
            color: @admin-dark-gray;
            .ellipsis();

            &::before {
              margin-top: 2px;
              left: 10px;
            }

            &:hover {
              cursor: pointer;
            }
          }

          &.checkbox {
            &.disabled {
              pointer-events: none;
            }
          }
        }

        &.selected {
          border: 1px solid @admin-medium-gray-border;
          box-sizing: border-box;

          .checkbox input[type="checkbox"]:focus + label::before {
            box-shadow: none;
          }

          &.expandable {
            > .help-text {
              padding-left: 25px;
            }
          }

          > .option-items-container {
            opacity: 1;

            * {
              pointer-events: all;
            }
          }

          > .form-input {
            > label {
              &::before {
                left: 4px;
              }
            }

            &.radio-button {
              > label {
                cursor: auto;
              }
            }

            > input[type="checkbox"] + label {
              &::before {
                background: url("../../../../../images/box-checked-optionset.gif") -1px no-repeat;
              }
            }
          }
        }
      }
    }

    &.single-selection {
      .filterable-listbox-wrapper {
        width: 100%;

        .single-selection-dropdown {
          .item-view-wrapper {
            &.selected {
              .names-and-icon-viewer {
                .xp-admin-common-names-view * {
                  color: @admin-white;
                }

                .content-tree-grid-status {
                  span {
                    color: @admin-white;
                  }
                }
              }
            }
          }
        }
      }

      .form-option-set-occurrences-container {
        .form-option-set-option-view {
          margin: 0;

          > .option-items-container {
            padding: 0;
          }

          &.selected {
            border: 0 none;
          }
        }
      }
    }

    &.multi-selection {
      .form-option-set-option-view {
        > .ai-dialog-control {
            top: 4px;
            right: 24px;
        }
      }
    }
  }
}
